/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #8A2BE2;
    --dark-gray-color: #696969; 
    --off-white-color: #E0FFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-width: 350px;
    width:auto;
}

.header {
    color: var(--primary-color);
    font-weight: bolder;
    text-align: center;
    
    
}

/* container  */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}


.container-center {
    max-width: 600px;
    margin: auto;
}


/* links */
.link {
    text-decoration: none;
    padding: 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: #fff;
    font-size: 1rem;
    border: 1px solid var(--primary-color);

}

.link-secondary {
    color:var(--primary-color);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
}

.link .link-primary, a:hover {
    background-color: #fff;
}

.link .link-secondary, a:hover {
    background-color: var(--primary-color);
    color: #fff;
    
}

hr {
    margin-top: 2rem 0;
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
    list-style: none;  
}

.reversed-order-list
{ 
  display:flex;
  flex-direction: column-reverse;  
  margin-left: -1rem;
  margin-right: 1.5rem;
  

}
.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem; 
    padding: 0.5rem;
    
}

.navigation .link {
    color: #fff;
}

.nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
    color:white;
    padding-left:1rem
}

.nav-pills {
    text-align:right;
}

.link-active {
    font-weight: bold;
}

/* header */
.hero {
    padding-top: 3rem;
}

.hero .hero-img {
    max-width: 400px;
    max-height: 500px;;
    display: block;
    margin: auto;
}


.hero-heading {
    color: var(--dark-gray-color);
    text-align: center;
}

.section {
    padding: 1rem 0.5rem;
    margin: 1rem 0;
}

.section p {
    text-align: justify;
}

.section h1 {
    font-weight: bold;
    text-align: center;    
}

.white-section {
    background-color: #fff;
}

.off-white-section{   
    /* font-size: 1.1rem; */
    background-color: var(--off-white-color);
    
}

.section small {
    color: var(--dark-gray-color);
    font-weight: bold;
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
    margin-top: 1.2rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;;
    border-top-right-radius:1rem;
    border-top-left-radius:1rem;
    color: #fff;

}

.footer-header {
color: #fff;
font-weight: bold;
font-size: 1.5rem;
padding-left:0.5rem;
}

.footer-list ,a {
    text-align: right;
    font-size: 30px;
    color: #fff;
}

.blog-subtitle {
    color: var(--dark-gray-color);
    font-size: 0.8rem;
    /* padding:1px; */
    /* text-align: center; */
    /* margin:-5px; */
}

.author-section {
text-align:center;

}

.author-section .author-img {
    height:50px;
    width:50px;
    margin:auto;
    border-radius: 2rem;;
}

.blog-section  {
    margin:1rem 1.8rem;
    padding:1rem 2rem;
    font-size: 1.2rem;
}