@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6C63FF;
  --dark-gray-color: #696969;
  --off-white-color: #e0ffff;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.6;
}

.main,
.main-projects {
  padding: 0 16rem;
}

/* @media (max-width: 500px) {
  .nav-pills {
    font-size: xx-small;
    margin: 1rem 0;
    padding: 2rem 0;
  }
} */

.header {
  color: var(--primary-color);
  font-weight: bolder;
  text-align: center;
}

.project-btns {
  margin-bottom: 1rem;
}


/* links */
/* .link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: large;
  font-weight: lighter;
  color: var(--primary-color);
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  color: #fff;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  font-size: 1rem;
}

.link .link-primary,
a.link-primary:hover {
  background-color: #fff;
}

.link .link-secondary,
a.link-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
  /* transition-delay: 0.1s; */
/* transition: 350ms all ease-in; */
/* }  */


/* hr {
  margin-top: 2rem 0;
} */

/* lists */
/* .list-non-bullet {
  list-style: none;
  margin-right: 2.5rem;
}

.list-item-inline {
  display: inline;
  padding: 0rem 1rem;
  list-style: none;
  color: #000;
}

.reversed-order-list {
  display: flex;
  flex-direction: column-reverse;
} */

/* navbar */


.navigation {
  background-color: var(--primary-color);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  /* margin-bottom: 2.5rem; */
}

.navigation .link {
  color: #fff;
}

.nav-brand {
  font-weight: normal;
  font-size: x-large;
  color: white;
  padding: 2rem 0 0 1rem;
  text-align: left;
}

.nav-brand a {
  text-decoration: none;
  color: #fff;
}

.nav-pills {
  font-size: xx-small;
  text-align: right;
  display: inline-flexbox;
  padding-bottom: 1rem;
}

.link-active {
  font-weight: 700;
}

.hero {
  padding-top: 3rem;
  text-align: center;
}

.hero .hero-img {
  max-width: 300px;
  max-height: 400px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.hero-heading {
  color: var(--dark-gray-color);
  font-size: xx-large;
  font-weight: normal;
  text-align: center;
}

.footer {
  background-color: var(--primary-color);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  padding-bottom: 1rem;
}

.footer-header {
  color: #fff;
  text-align: center;
  /* margin: 1rem; */
  padding-top: 1rem;
  display: block;
  font-size: x-large;
}

.blog-subtitle {
  color: var(--dark-gray-color);
  font-size: 0.8rem;
}

.section .blog-subtitle {
  text-align: center;
}

.flex-social-media {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 0.4rem;
}

.social-media-link,
a.social-media-link:link,
i {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0rem 0.4rem;
  font-size: 1.6rem;
  margin: 0 0.5rem;
}

a.social-media-link:hover {
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 0.5rem;
  /* transition-delay: 0.8s; */
  transition: 250ms all ease-in;
  margin: 0 0.5rem;
  padding: 0rem 0.4rem;
}

.author-section {
  text-align: center;
}

.author-section .author-img {
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: 2rem;
}

.blog-section {
  margin: 1rem 1.8rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.blog-content {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.blog-subtitle {
  margin-bottom: 1rem;
}

/* media queries */
/* 
@media (max-width: 340) {
  .nav-pills {
    font-size: xx-small;
    margin: 1rem 0;
    padding: 2rem 0;
  }

  .main {
    padding: 0rem;
    text-align: center;
  }
  .project-btns {
    display: flex; 
    flex-direction: column;
  }
} 
*/

@media screen and (max-width: 500px) {
  .nav-pills {
    font-size: xx-small;
    margin: 1rem 0;
    padding: 2rem 0;
  }

  .main {
    padding: 0rem;
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 501px) {

  .main {
    padding: 2rem;
    text-align: center;
  }

}

@media (max-width: 1024px) and (min-width: 769px) {
  .main {
    padding: 4rem;
    text-align: center;
  }

}