:root {
    --primary-color: #6C63FF;
    --dark-gray-color: #696969;
    --off-white-color: #e0ffff;
}

/* sections */
.section {
    padding: 1rem;
    text-align: center;
}

.section h1 {
    margin-bottom: 1rem;
}

.white-section {
    margin: 0;
}

.off-white-section {
    background-color: var(--off-white-color);
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
    margin: 2rem;
   
}

.section-project-date {
    margin: -3rem;
}

.section-desc {
    margin-bottom: 1rem;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: lighter;
    color: var(--primary-color);
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: #fff;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
}

.link .link-primary,
a.link-primary:hover {
    background-color: #fff;
}

.link .link-secondary,
a.link-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
    /* transition-delay: 0.1s; */
    transition: 350ms all ease-in;
}


/* lists */
.list-non-bullet {
    list-style: none;
    /* margin-right: 2.5rem; */
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
    list-style: none;
    color: #000;
}

.reversed-order-list {
    display: flex;
    flex-direction: column-reverse;
}